body{
    background-color: rgb(91, 174, 230);
}


#titles
{
    margin-left: 100px;
   
}
.formElement{
    margin: 8px 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 3px;
   
}



form{

    width:500px;
    margin-left: 25%;
    border-radius: 15px;
    margin-right: 180px;
    border: 2px solid blue;
    background-color:rgb(57, 155, 201);
}

label{
    padding-left: 30px;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    vertical-align: top;
}

#submit{
    background-color: aquamarine;
    float: right;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 210px;
    margin-top: 0px;
    padding: 7px;
}

#submit:hover{
    background-color: aqua;

}